@charset "UTF-8";

:root {
  --header-height: 3.5rem;

  /*COLORS*/
  --dark-color: #faa68e;
  --dark-color-light: #ffd1c4;
  --dark-color-lighten: #ffd8d8;
  --white-color: #fff;
  --body-color: #fff;

  /*FONT*/
  --body-font: "Quicksand", sans-serif;
  --normal-font-size: 0.938rem;
  --font-regular: 400;
  --font-semi-bold: 600;

  /*Z-INDEX*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

h1 {
  color: #000;
  font-family: "Great Vibes";
  text-align: center;
  padding: 2rem 0;
  font-size: 60px;
}

h2 {
  color: #000;
  font-family: "Great Vibes";
  font-size: 1.75em;
  text-align: center;
  padding: 1.5rem;
}

/*RESPONSIVE TYPOGRAPHY*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: rem;
  }
}

/* BASE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 150px;
  background-image: linear-gradient(
    to bottom,
    #ffd1c4,
    #ffd8d8,
    #ffe1e8,
    #fdebf5,
    #fbf4fc,
    #fbf4fc,
    #fbf4fc,
    #fbf4fc,
    #fdebf5,
    #ffe1e8,
    #ffd8d8,
    #ffd1c4
  );
  z-index: var(--z-fixed);
}

.quicksand-leipäteksti {
  font-family: "Quicksand", sans-serif;
  /*   font-optical-sizing: auto; CSS-fix*/
  font-weight: 500;
  font-style: normal;
}

.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  font-style: normal;
  font-size: 4em;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  background-image: url(./Images/taustakuva.jpg);
  /*   box-sizing: border-box; */
  /*   width: 100vw; */
  /*   padding: 0; */
  /*   margin: 0; */
  /*   top: 90px; */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  /*  top: 50px; */
  /*   overflow-x: hidden; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
label {
  color: #000;
  font-family: "Quicksand";
  text-align: center;
  padding-bottom: 30px;
  font-size: 1rem;
}

dt {
  color: #000;
  font-family: "Great Vibes";
  font-size: 2.5em;
  text-align: center;
  padding: 1.5rem;
}

dd {
  color: #000;
  font-family: "Quicksand";
  text-align: center;
  padding-bottom: 8px;
  font-size: 1rem;
}

input[type="submit"] {
  font-family: "Quicksand";
  background-color: #ffd1c4;
  border: 1px;
  border-style: solid;
  border-color: #000;
  border-radius: 8px;
  color: #000;
  padding: 6px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

input[type="submit"]:hover {
  background-color: #faa68e;
  transition: background-color 0.3s;
}

/* .nav container {
  height: auto;
} */

.text__container {
  position: relative;
  top: 50px;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10rem;
}

/* REUSABLE */

.container {
  max-width: 1120px;
  margin-right: 1.5rem;
}

.tekstilinkki {
  color: #faa68e;
  text-decoration: underline;
}

.nav__logo {
  scale: 70%;
  align-items: center;
}

.bannerinkuva {
  display: block;
  margin: 0 auto;
  scale: 70%;
  align-items: center;
}

.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--black-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* vertical-align: middle; */
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  /*   display: grid;
  place-items: center; */
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

.vinkkilappu {
  color: #faa68e;
  text-align: center;
  font-size: 72px;
}

.sivukuva {
  margin: auto;
  display: block;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 6rem;
}

.sivukuva img {
  max-width: 100%;
  height: auto;
}

.alabanneri {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  height: 5rem;
  background-image: linear-gradient(
    to bottom,
    #ffd1c4,
    #ffd8d8,
    #ffe1e8,
    #fdebf5,
    #fbf4fc,
    #fbf4fc,
    #fbf4fc,
    #fbf4fc,
    #fdebf5,
    #ffe1e8,
    #ffd8d8,
    #ffd1c4
  );
  z-index: var(--z-fixed);
}

.alabannerinekateksti {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 4px;
  padding: 0;
  word-wrap: break-word;
}

.alabannerintokateksti {
  font-size: smaller;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

footer {
  position: fixed;
  font-size: smaller;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fbf4fc;
}

.contact__container {
  position: relative;
  text-align: center;
  padding: 0;
}

@media screen and (max-width: 1118px) {
  .dropdown__arrow {
    opacity: 0;
  }

  .nav__logo {
    scale: 40%;
  }

  .bannerinkuva {
    scale: 50%;
  }

  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    /* background-color: #fbf4fc; */
    /* height: calc(100vh - 3.5rem); */
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
    /*     z-index: 1001; */
  }

  /* .nav__menu::-webkit-scrollbar {
    width: 0;
  } */

  .nav__list {
    background-color: var(--dark-color-lighten);
    padding-top: 1rem;
    /*     z-index: 1001; */
  }
}

.footerinteksti {
  padding: 20px;
}

.nav__link {
  color: var(--black-color);
  background-color: var(--dark-color-lighten);
  font-family: "Quicksand", sans-serif;
  /*   font-optical-sizing: auto; CSS-fix*/
  font-weight: var(--font-semi-bold);
  font-style: normal;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
  /*   z-index: 1001; */
}

.nav__link:hover {
  background-color: var(--dark-color);
}

.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
  /*   z-index: 1003; */
}

.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

.dropdown__item {
  cursor: pointer;
  /*   z-index: 1001; */
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--black-color);
  background-color: var(--dark-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover {
  background-color: var(--dark-color);
}

.dropdown__menu {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.dropdown__item:hover .dropdown__menu {
  /* max-height: 1000px; */
  transition: max-height 0.4s ease-in;
}

.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/* BREAKPOINTS*/

@media screen and (max-width: 767px) {
  .dropdown__arrow {
    opacity: 0;
  }

  .container {
    margin-right: 1rem;
  }

  .nav__logo {
    scale: 40%;
  }

  .bannerinkuva {
    scale: 50%;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  /*   .h1 {
    font-size: 50px;
  }
 */
  .vinkkilappu {
    color: #faa68e;
    text-align: center;
    font-size: 45px;
  }

  .alabanneri {
    /* line-height: 0.4rem; */
    padding: 0;
  }

  .alabannerinekateksti {
    padding: 0;
    /* padding-bottom: 4px; */
  }

  .alabannerintokateksti {
    margin-top: 1rem;
    text-align: center;
    /* display: inline-block; */
  }

  .footerinteksti {
    padding: 10px;
  }
}

@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav__logo {
    padding-right: 100px;
  }

  p {
    color: #000;
    font-family: "Quicksand";
    text-align: center;
    padding-bottom: 30px;
    font-size: larger;
  }

  .h1 {
    font-size: x-large;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    height: calc(var(--header-height) + 2rem);
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    height: 100%;
    display: flex;
    /*     justify-content: space-between; */
    column-gap: 3rem;
    /*     z-index: 1001; */
  }

  .nav__link {
    height: 100%;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item {
    position: relative;
  }

  .dropdown__menu {
    max-height: initial;
    position: relative;
    display: none;
    overflow: initial;
    left: 0;
    /* top: 6rem; */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
    /* z-index: 1; */
  }

  .dropdown__link {
    padding-inline: 1rem 3.5rem;
    /*     overflow: auto;
    float: none;
    display: block; */
  }

  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    display: block;
    /* top: 5.5rem; */
    pointer-events: initial;
    transition: top 0.3s;
  }

  .footerinteksti {
    padding-top: 10px;
  }

  .alabannerinekateksti {
    max-width: 100%;
    /* font-size: x-small; */
  }

  .text__container {
    position: relative;
    top: 70px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: medium;
  }
}
